.cd-details {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto 40px;
    align-items: flex-start;
    margin: 10px;
}

.cd-header {
    width: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns: 650px 350px;
    align-items: baseline;
    justify-content: center;
    height: 30px;
}

.cd-performer {
    width: 600px;
    color: blue;
    justify-self: center;
    align-self: baseline;
    align-items: baseline;
    justify-content: center;
    height: 30px;
}

.cd-year {
    font-size: small;
    color: green;
    justify-self: center;
    align-self: baseline;
    justify-content: center;
    align-items: baseline;
    height: 30px;
    width: 400px;
}

.track-list {
    width: 95%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto;
    align-items: flex-start;
    margin: 10px;
    color: darkred;
}

#track {
    width: 50%;
    justify-self: center;
    font-size: small;
    display: grid;
    grid-template-columns: 50px 350px 150px;
    align-items: baseline;
    justify-content: center;
    color: black;
}

.cd-total-time {
    justify-self: center;
    align-items: baseline;
    font-size: small;
    justify-content: flex-start;
    height: 30px;
    width: 125px;
    color: orange;
}
