.cd-details {
    width: fit-content;
    display: grid;
    grid-template-rows: 30px auto 50px 30px;
    align-items: flex-start;
    margin: 10px;
}

.cd-header {
    width: 600px;
    justify-self: center;
    align-self: baseline;
    display: grid;
    grid-template-columns: 350px 200px;
    align-items: baseline;
    justify-content: center;
    height: 30px;
    background-color: rgb(255 255 255 / 0.7);
}

.cd-performer {
    width: 300px;
    color: blue;
    justify-self: center;
    align-self: baseline;
    align-items: baseline;
    justify-content: center;
    height: 30px;
}

.cd-year {
    font-size: small;
    color: green;
    justify-self: center;
    align-self: baseline;
    justify-content: center;
    align-items: baseline;
    height: 30px;
    width: 200px;
}

.track-list {
    width: 95%;
    justify-self: center;
    display: grid;
    grid-template-rows: auto;
    align-items: flex-start;
    margin: 10px;
    color: darkred;
    background-color: rgb(255 255 255 / 0.7);
}

#track {
    width: 50%;
    justify-self: center;
    font-size: small;
    display: grid;
    grid-template-columns: 50px 350px 150px;
    align-items: baseline;
    justify-content: center;
    color: black;
}

.cd-footer {
    width: 600px;
    justify-self: center;
    display: grid;
    grid-template-columns: 130px 300px;
    align-items: baseline;
    justify-content: flex-end;
    height: 50px;
    background-color: rgb(255 255 255 / 0.7);
}

.cd-total-time {
    justify-self: center;
    align-self: baseline;
    font-size: small;
    align-items: baseline;
    justify-content: flex-start;
    height: 30px;
    width: 125px;
    color: orange;
}

.edit-btn {
    width: fit-content;
    justify-self: flex-end;
    align-self: baseline;
    height: 30px;
    margin: 10px;
}

.additional-info {
    width: 600px;
    justify-self: center;
    display: grid;
    grid-template-columns: 300px 300px;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    background-color: rgb(255 255 255 / 0.7);
}

.cd-genres {
    justify-self: center;
    align-self: baseline;
    font-size: small;
    align-items: baseline;
    justify-content: flex-start;
    height: 25px;
    width: 250px;
    color: purple;
}

.storage-location {
    justify-self: flex-end;
    align-self: baseline;
    font-size: small;
    height: 25px;
    width: 300px;
    color: saddlebrown;
}
