.landing-page {
    display: grid;
    grid-template-rows: 40px 150px 50px;
    padding: 10px;
}

.logins {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gitbutton {
    display: flex;
    background: white;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    height: 3.35rem;
    width: fit-content;
    border: 2px solid blue;
    border-radius: 4px;
    vertical-align: baseline;
    text-align: center;
    margin: 15px;
}

.github {
    display:inline-block;
    float:left;
    width: 3rem;
    height: 2rem;
    margin-right: 0.3em;
    background-image: url("../assets/gh.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#googlebutton {
    display: flex;
    background: white;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: inherit;
    height: 3.35rem;
    width: fit-content;
    border: 2px solid green;
    border-radius: 4px;
    vertical-align: baseline;
    text-align: center;
    margin: 15px;
}

.google {
    display:inline-block;
    float:left;
    width: 3rem;
    height: 2rem;
    margin-right: 0.3em;
    background-image: url("../assets/goog.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
