
.collections-list {
    display: grid;
    grid-template-rows: repeat(5, fit-content(100%));
    min-height: 55svh;
    width: 98%;
    padding: 10px;
}

.collection {
    width: 90%;
    min-height: 60px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 18px;
    align-items: center;
    padding: 5px;
    border: 3px solid;
    border-radius: 24px;
    margin: 10px;
}

.coll-open-button {
    min-height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-align: left;
    border: 0;
    padding: 10px 20px;
}

.new-coll {
    display: grid;
    grid-template-columns: 300px 50px;
    align-items: end;
    margin: 15px;
}

.new-coll label {
    margin: 0;
    font-size: small;
}

.new-coll button {
    grid-column: 3;
    width: fit-content;
}

#new-coll-name {
    min-width: 300px;
}
